@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700')
@import "bootstrap"
@import "screen"
@import "booth"

@import "booth_detail"

@import "hall"

@import "video"

$primary-color:   #414D7A !default
$small: 300px
$medium: 900px
$length: 1800px

body
    font-family: 'Prompt', sans-serif
    color: $primary-color
    font-size: 18px

h1
    font-size: 32px

.nav-link
    color: $primary-color

#home-page
    background: #AAE3FF
    @include screen('xl')
        overflow: hidden
    #home-lg
        .container
            @include screen('xwide')
                max-width: 1550px
        .cars
            img
                width: 40px
                @include screen('xl')
                    width: 45px
                @include screen('mwide')
                    width: auto
        .key
            h1
                font-size: 18px
                background: #FFFFFF
                border-radius: 0px 0px 20px 20px
                max-width: 65vw
                @include screen('xl')
                    font-size: 24px
                @include screen('xwide')
                    font-size: 28px
                span
                    display: block
                    color: #32ABDA
                    font-size: 16px
                    @include screen('xl')
                        font-size: 18px
                    @include screen('xwide')
                        font-size: 21px
        header
            img
                width: 40px
                @include screen('lg')
                    width: 55px
                @include screen('xwide')
                    width: 75px

        footer
            .social
                img
                    width: 20px
                    margin-right: 1rem
                    @include screen('md')
                        width: 24px
                    @include screen('lg')
                        width: 30px
            .link
                margin: 0 auto
                #link-conference
                    width: 60%
                    @include screen('md')
                        width: 40%
                    @include screen('lg')
                        width: 25%
        #map
            width: 100%
            .maphilighted
                background-size:     cover !important
                background-repeat:   no-repeat !important
                background-position: center center !important
                object-fit: cover

    #home-sm
        header
            height: 70px
        .img-logo
            width: 30px
        a
            color: $primary-color
            text-decoration: none
        .social
            img
                width: 24px
                margin-right: 1rem
                @include screen('md')
                    width: 24px
        .menu
            nav
                position: relative
                width: 100%
                ul
                    min-width: 100%
        .map-sm
            overflow: scroll
            .control
                top: 10%
                left: 10px

    #tooltip
        position: fixed
        border: 1px solid rgb(232, 236, 242)
        display: none
        border-radius: 1000px
        background-color: #fff
        color: #243876
        text-align: center
        padding: 10px
        font-size: 18px
        img
            height: 18px
            margin-right: 0.5rem


#app
    >header
        font-weight: 500
        position: relative
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
        img
            width: 40px
            @include screen('wide')
                width: 47.55px
        .navbar-nav
            li
                font-size: 14px
                @include screen('mwide')
                    font-size: 16px
                @include screen('xwide')
                    font-size: 18px


    main
        min-height: calc(100vh - 155px)
    footer
        border-top: 1px solid rgba(0, 0, 0, 0.2)
        font-size: 14px
        @include screen('xwide')
            font-size: 18px
        .social
            img
                width: 20px
                margin-right: 1rem
                @include screen('md')
                    width: 24px
                @include screen('lg')
                    width: 30px

a.nav-link:after
    display: none
.dropdown-menu
    min-width: 360px
    li
        a
            font-size: 14px
            padding: 20px 40px 20px 40px
            position: relative
            &:hover
                background: #AAE3FF
                padding-left: 60px
                &:before
                    background: url('../images/pin.png') no-repeat
                    background-size: contain
                    content: ''
                    display: block
                    position: absolute
                    left: 40px
                    width: 20px
                    height: 20px
    .navbar-nav
        .dropdown-menu
            padding: 0
            overflow: hidden
            background: #FFFFFF
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 20px
