@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700')
@import "bootstrap"

$primary-color:   #414D7A !default

body
    font-family: 'Prompt', sans-serif
    color: $primary-color

h1
    font-size: 32px

.nav-link
    color: $primary-color

#map
    width: 100%
    #main-map
        object-fit: contain
