#main-booth
    min-height: calc(100vh - 155px)
    background-image: url("/images/bg_booth.png")
    background-repeat: no-repeat
    background-position: center -20%
    @include screen('xlwide')
        background-position: 100% -80%
        background-size: contain
    .container
        padding: 0
        margin: 0
    .nav
        overflow-x: scroll
        flex-wrap: nowrap
        .nav-link
            white-space: nowrap
            word-wrap: break-word
            color: #243876
            border-radius: 100px
            border: 2px solid #FFFFFF
            background: #EDEDED
            @include screen('lg')
                border: none
                border-radius: 0
            &.active
                background: #F6B32C
                color: #FFFFFF !important
        @include screen('lg')
            display: inline-flex
            color: #243876
            overflow: hidden
            font-weight: bold
            border-radius: 100px
            border: 2px solid #FFFFFF
            background: #EDEDED
            .nav-item
                &:first-child
                    padding-left: 20px
                    border-top-left-radius: 100px
                    border-bottom-left-radius: 100px
                &:nth-child(2)
                    border-right: 2px solid #FFFFFF
                    border-left: 2px solid #FFFFFF
                &:last-child
                    padding-right: 20px
                    border-top-right-radius: 100px
                    border-bottom-right-radius: 100px
                &.active
                    background: #F6B32C
                    .nav-link
                        background: #F6B32C
                        color: #FFFFFF !important

    .booth
        .booth-list
            margin-top: 50px
        a
            color: #243876
            text-decoration: none
        .scale-up
            transition: transform .2s
        .scale-up:hover
            transform: scale(1.1)

        .booth-logo
            width: 26.66%
            top: -10%
            right: 16%

