#main-exhibition
    .splide,.splide-mb
        img
            object-fit: cover
            width: 100%
        .one__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(54.7% - 100px)
                top: calc(58% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(44.7% - 100px)
                bottom: calc(39.3% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

        .two__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(37% - 100px)
                top: calc(22% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(28% - 100px)
                top: calc(41% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(31% - 100px)
                bottom: calc(50% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(59% - 100px)
                bottom: calc(29% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
        .three__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(25.5% - 100px)
                top: calc(19% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(40.3% - 100px)
                top: calc(21.5% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(34% - 100px)
                top: calc(30% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(46% - 100px)
                top: calc(40% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

        .four__pointer
            &__discovery
                position: absolute
                transition: transform .2s
                width: 93px
                height: 43px
                left: calc(31% - 100px)
                top: calc(25% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
            &__hr
                position: absolute
                transition: transform .2s
                width: 196px
                height: 43px
                left: calc(47% - 100px)
                top: calc(30% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__networking
                position: absolute
                transition: transform .2s
                width: 109px
                height: 46px
                right: calc(50% - 100px)
                top: calc(38% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__pp
                position: absolute
                transition: transform .2s
                width: 139px
                height: 47px
                right: calc(27% - 100px)
                top: calc(51% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__rl
                position: absolute
                transition: transform .2s
                width: 175px
                height: 48px
                right: calc(41% - 100px)
                top: calc(59% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__pd
                position: absolute
                transition: transform .2s
                width: 160px
                height: 42px
                right: calc(33% - 100px)
                top: calc(25% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__lc
                position: absolute
                transition: transform .2s
                width: 166px
                height: 48px
                right: calc(34% - 100px)
                bottom: calc(36% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__production
                position: absolute
                transition: transform .2s
                width: 106px
                height: 45px
                left: calc(28% - 100px)
                bottom: calc(32% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__ct
                position: absolute
                transition: transform .2s
                width: 118px
                height: 46px
                left: calc(24% - 100px)
                bottom: calc(57% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

        .five__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(26.5% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(32.8% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(39% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(45.5% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__five
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(51.8% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__center
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(70.3% - 100px)
                top: calc(52% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__green
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(58% - 100px)
                top: calc(49% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__red
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(39% - 100px)
                top: calc(32% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__blue
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(26% - 100px)
                top: calc(48% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__car
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(50% - 100px)
                bottom: calc(28% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

        .splide__pagination
            li
                padding: 5px

                .splide__pagination__page
                    background-image: url("../../images/exhibition/paginate-small.png")
                    width: 15px
                    height: 15px
                    background-color: transparent

                .is-active
                    background-image: url("../../images/exhibition/paginate-active-small.png")
                    width: 20px
                    height: 20px
                    background-color: transparent
    .splide-mb
        position: relative
        .one__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(54.7% - 100px)
                top: calc(58% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(44.7% - 100px)
                bottom: calc(39.3% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

        .two__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(37% - 100px)
                top: calc(22% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(28% - 100px)
                top: calc(41% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(31% - 100px)
                bottom: calc(50% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(59% - 100px)
                bottom: calc(29% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
        .three__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(25.5% - 100px)
                top: calc(19% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(40.3% - 100px)
                top: calc(21.5% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(34% - 100px)
                top: calc(30% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(46% - 100px)
                top: calc(40% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%

        .four__pointer
            &__discovery
                position: absolute
                transition: transform .2s
                width: 93px
                height: 43px
                left: calc(31% - 100px)
                top: calc(25% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
            &__hr
                position: absolute
                transition: transform .2s
                width: 196px
                height: 43px
                left: calc(47% - 100px)
                top: calc(30% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__networking
                position: absolute
                transition: transform .2s
                width: 109px
                height: 46px
                right: calc(50% - 100px)
                top: calc(38% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__pp
                position: absolute
                transition: transform .2s
                width: 139px
                height: 47px
                right: calc(27% - 100px)
                top: calc(51% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__rl
                position: absolute
                transition: transform .2s
                width: 175px
                height: 48px
                right: calc(41% - 100px)
                top: calc(59% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__pd
                position: absolute
                transition: transform .2s
                width: 160px
                height: 42px
                right: calc(33% - 100px)
                top: calc(25% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__lc
                position: absolute
                transition: transform .2s
                width: 166px
                height: 48px
                right: calc(34% - 100px)
                bottom: calc(36% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__production
                position: absolute
                transition: transform .2s
                width: 106px
                height: 45px
                left: calc(28% - 100px)
                bottom: calc(32% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

            &__ct
                position: absolute
                transition: transform .2s
                width: 118px
                height: 46px
                left: calc(24% - 100px)
                bottom: calc(57% - 100px)
                border: 8px solid rgba(255,255,255,0.5)
                border-radius: 30px
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)

        .five__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(26.5% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(32.8% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(39% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(45.5% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__five
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(51.8% - 100px)
                top: calc(24% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__center
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(70.3% - 100px)
                top: calc(52% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__green
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                left: calc(58% - 100px)
                top: calc(49% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__red
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(39% - 100px)
                top: calc(32% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__blue
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(26% - 100px)
                top: calc(48% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%
            &__car
                position: absolute
                transition: transform .2s
                width: 60px
                height: 60px
                right: calc(50% - 100px)
                bottom: calc(28% - 100px)
                border: 12px solid rgba(255,255,255,0.5)
                border-radius: 50%
                &:hover
                    transform: scale(1.1)
                    box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                    border-radius: 50%



.modal-content
    border: 5px solid #216FE7
    border-radius: 20px
    @include screen('lg')
        border: 10px solid #216FE7
        border-radius: 20px
    h1
        font-size: 1.25rem
        font-weight: 700
        @include screen('lg')
            font-weight: 700
    .title
        font-size: 16px
        font-weight: 600
        @include screen('lg')
            font-size: 18px
    .title_no_weight
        font-size: 18px

    .content
        font-size: 14px
        text-indent: 20px
        line-height: 20px
        @include screen('lg')
            font-size: 17px
            text-indent: 30px
            line-height: 25px
    .content_no_indent
        font-size: 14px
        line-height: 20px
        @include screen('lg')
            font-size: 17px
            line-height: 25px

    .p-link
        margin: 1rem 0rem
        @include screen('lg')
            margin: 2rem 0rem

    a.link-out
        color: #243876
        font-weight: 900

        .icon-yellow
            padding-left: 20px
            color: #FFD70F
            font-weight: 400
    a.link-out-small
        font-size: 14px
        color: #243876
        font-weight: 700
    .book
        display: inline-table
        margin: 0 20px
    .btn__close
        font-size: 18px
        border-radius: 60px
        padding: 5px 30px
        margin-bottom: 15px
