#main-exhibition
    .splide
        img
            object-fit: cover
            width: 100%
        .one__pointer
            &__one
                position: absolute
                width: 20px
                height: 20px
                left: calc(68% - 100px)
                top: calc(83% - 100px)
                transition: transform .2s
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(49.9% - 100px)
                    top: calc(51.5% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%

            &__two
                position: absolute
                width: 20px
                height: 20px
                right: calc(63.2% - 100px)
                bottom: calc(75% - 100px)
                transition: transform .2s
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(44.7% - 100px)
                    bottom: calc(39.3% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%

        .two__pointer
            &__one
                position: absolute
                width: 20px
                height: 20px
                right: calc(54% - 100px)
                top: calc(50% - 100px)
                transition: transform .2s
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(37% - 100px)
                    top: calc(22% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__two
                position: absolute
                width: 20px
                height: 20px
                left: calc(48% - 100px)
                top: calc(70% - 100px)
                transition: transform .2s
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(28% - 100px)
                    top: calc(41% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(50% - 100px)
                bottom: calc(87% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(31% - 100px)
                    bottom: calc(50% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(75% - 100px)
                bottom: calc(67% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(59% - 100px)
                    bottom: calc(29% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
        .three__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(45.5% - 100px)
                top: calc(48% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(25.5% - 100px)
                    top: calc(19% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(60.5% - 100px)
                top: calc(50% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(40.3% - 100px)
                    top: calc(21.5% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(64% - 100px)
                top: calc(69% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(34% - 100px)
                    top: calc(30% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(52% - 100px)
                top: calc(60% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(46% - 100px)
                    top: calc(40% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%

        .four__pointer
            &__discovery
                position: absolute
                transition: transform .2s
                width: 50px
                left: calc(46% - 100px)
                top: calc(49% - 100px)
                @include screen('lg')
                    width: 160px
                    height: 70px
                    left: calc(28% - 100px)
                    top: calc(21% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__hr
                position: absolute
                transition: transform .2s
                width: 120px
                left: calc(62% - 100px)
                top: calc(50% - 100px)
                @include screen('lg')
                    width: 346px
                    height: 70px
                    left: calc(43% - 100px)
                    top: calc(24% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__networking
                position: absolute
                transition: transform .2s
                width: 60px
                right: calc(60% - 100px)
                top: calc(62% - 100px)
                @include screen('lg')
                    width: 176px
                    height: 70px
                    right: calc(46% - 100px)
                    top: calc(33% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__pp
                position: absolute
                transition: transform .2s
                width: 67px
                right: calc(38% - 100px)
                top: calc(70% - 100px)
                @include screen('lg')
                    width: 217px
                    height: 70px
                    right: calc(27% - 100px)
                    top: calc(45% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__rl
                position: absolute
                transition: transform .2s
                width: 85px
                right: calc(57% - 100px)
                top: calc(82% - 100px)
                @include screen('lg')
                    width: 272px
                    height: 70px
                    right: calc(37% - 100px)
                    top: calc(53% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__pd
                position: absolute
                transition: transform .2s
                width: 87px
                right: calc(35% - 100px)
                top: calc(45% - 100px)
                @include screen('lg')
                    width: 287px
                    height: 70px
                    right: calc(27% - 100px)
                    top: calc(20% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__lc
                position: absolute
                transition: transform .2s
                width: 80px
                right: calc(52% - 100px)
                bottom: calc(72% - 100px)
                @include screen('lg')
                    width: 257px
                    height: 70px
                    right: calc(33% - 100px)
                    bottom: calc(36% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__production
                position: absolute
                transition: transform .2s
                width: 58px
                left: calc(48% - 100px)
                bottom: calc(69% - 100px)
                @include screen('lg')
                    width: 172px
                    height: 70px
                    left: calc(28% - 100px)
                    bottom: calc(36% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
            &__ct
                position: absolute
                transition: transform .2s
                width: 58px
                left: calc(39% - 100px)
                top: calc(83% - 100px)
                @include screen('lg')
                    width: 189px
                    height: 70px
                    left: calc(22% - 100px)
                    bottom: calc(62% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 60px
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 60px
        .five__pointer
            &__one
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(45% - 100px)
                top: calc(53% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(26.5% - 100px)
                    top: calc(24% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__two
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(51.2% - 100px)
                top: calc(53% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(32.8% - 100px)
                    top: calc(24% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__three
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(57.5% - 100px)
                top: calc(53% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(39% - 100px)
                    top: calc(24% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__four
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(64% - 100px)
                top: calc(53% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(45.5% - 100px)
                    top: calc(24% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__five
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(70.3% - 100px)
                top: calc(53% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(51.8% - 100px)
                    top: calc(24% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__green
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                left: calc(76.5% - 100px)
                top: calc(80% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    left: calc(58% - 100px)
                    top: calc(49% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__red
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(57.5% - 100px)
                top: calc(60% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(39% - 100px)
                    top: calc(32% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__blue
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(44.5% - 100px)
                top: calc(78% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(26% - 100px)
                    top: calc(48% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%
            &__car
                position: absolute
                transition: transform .2s
                width: 20px
                height: 20px
                right: calc(66% - 100px)
                bottom: calc(66% - 100px)
                @include screen('lg')
                    width: 60px
                    height: 60px
                    right: calc(50% - 100px)
                    bottom: calc(28% - 100px)
                    border: 12px solid rgba(255,255,255,0.5)
                    border-radius: 50%
                    &:hover
                        transform: scale(1.1)
                        box-shadow: 0px 0px 10px rgba(255, 204, 2, 0.5)
                        border-radius: 50%

        .splide__pagination
            li
                padding: 5px
                @include screen('lg')
                    padding: 10px

                .splide__pagination__page
                    background-image: url("../../images/exhibition/paginate-small.png")
                    width: 15px
                    height: 15px
                    background-color: transparent
                    @include screen('lg')
                        background-image: url("../../images/exhibition/paginate.png")
                        width: 27px
                        height: 27px

                .is-active
                    background-image: url("../../images/exhibition/paginate-active-small.png")
                    width: 20px
                    height: 20px
                    background-color: transparent
                    @include screen('lg')
                        background-image: url("../../images/exhibition/paginate-active.png")
                        width: 46px
                        height: 46px

.modal-content
    border: 5px solid #216FE7
    border-radius: 20px
    @include screen('lg')
        border: 10px solid #216FE7
        border-radius: 20px
    h1
        font-size: 1.25rem
        font-weight: 700
        @include screen('lg')
            font-weight: 700
    .title
        font-size: 16px
        font-weight: 600
        @include screen('lg')
            font-size: 20px

    .content
        font-size: 14px
        text-indent: 20px
        line-height: 20px
        @include screen('lg')
            font-size: 17px
            text-indent: 30px
            line-height: 25px
    .content_no_indent
        font-size: 14px
        line-height: 20px
        @include screen('lg')
            font-size: 17px
            line-height: 25px

    .p-link
        margin: 1rem 0rem
        @include screen('lg')
            margin: 2rem 0rem

    a.link-out
        color: #243876
        font-weight: 900

        .icon-yellow
            padding-left: 20px
            color: #FFD70F
            font-weight: 400
    a.link-out-small
        font-size: 14px
        color: #243876
        font-weight: 700
    .book
        display: inline-table
        margin: 0 20px
    .btn__close
        font-size: 18px
        border-radius: 60px
        padding: 5px 30px
        margin-bottom: 15px
